<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<nav id="navbar">
  <div class="main_tab">
    <button class="nav_button" onclick="window.location.href = 'legacy_tests.html'">archiwum</button>
  </div>
  <div class="main_tab">
    <button class="nav_button" onclick="window.location.href = 'recent_test.html'">ostatnie</button>
  </div>
  <div class="main_tab">
    <button class="nav_button" onclick="window.location.href = 'tests_comparison.html'">porównanie</button>
  </div>
</nav>
<p></p>
<footer>
<a th:href="@{/home(userId=${user.id}, userName=${user.name})}">
  <button onclick="window.location.href='/home'">fuck go back!</button>
</a>
</footer>


</body>
</html>
