<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="UTF-8">
    <title>recent test</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<nav id="navbar">
    <div class="main_tab">
        <button class="nav_button" onclick="window.location.href = 'archives_tests'">archiwum</button>
    </div>
    <div class="main_tab">
        <button class="nav_button" onclick="window.location.href = 'recent_test'">ostatnie</button>
    </div>
    <div class="main_tab">
        <button class="nav_button" onclick="window.location.href = 'tests_comparison'">porównanie</button>
    </div>
</nav>


<div style="width: 600px; height: 400px;">
    <canvas id="myChart"></canvas>

</div>
<form th:action="@{/submitTest }" method="get">
    <label for="name_input">imię:</label>
    <input th:value="${user.name}" id="name_input" disabled="disabled" type="text" name="name_input">
    <label for="age_input">wiek:</label>
    <input th:value="${user.age}" id="age_input" type="number" name="age_input" disabled="disabled" value="10">
    <label for="note_input">notatka:</label>
    <input id="note_input" type="text" name="note_input">
    <button name="method" value="1">odrzuć test</button>
    <button name="method" value="2">zapisz</button>
</form>
<script>
    const labels = [[${labels}]];
    const dataY = [[${dataY}]] ;


    // Konfiguracja wykresu
    const data = {
        labels: labels,
        datasets: [{
            label: 'Wykres liniowy',
            data: dataY,
            borderColor: 'rgba(75, 192, 192, 1)',
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            fill: true,
            tension: 0
        }]
    };

    const config = {
        type: 'line',
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };


    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
    console.log(myChart.valueOf());

</script>
<div id="data_storage" style="display:none; background: darkviolet">
</div>

<footer>
    <button onclick="location.href='home'">fuck go back!</button>
</footer>
</body>
</html>
