<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta charset="UTF-8">
  <title>tests_comparison</title>
</head>
<body>
<nav id="navbar">
  <div class="main_tab">
    <button class="nav_button" onclick="location.href = 'archives_tests'">archiwum</button>
  </div>
  <div class="main_tab">
    <button class="nav_button" onclick="location.href = 'recent_test'">ostatnie</button>
  </div>
  <div class="main_tab">
    <button class="nav_button" onclick="location.href = 'tests_comparison'">porównanie</button>
  </div>
</nav>
<footer><button onclick="location.href='home'">fuck go back!</button> </footer>

</body>
</html>
